.Button {
    min-width: 70px;
    height: 70px;
    align-items: center;
    text-align: center;
    margin: 4px 10px;
    color: white;
    background: rgb(51, 48, 48);
    font-size: 2rem;
    border-radius: 50%;
    border: none;
    font-weight: 100;
}
.Button:hover {
    background: rgb(63, 60, 60);
    cursor: pointer;
}

.ButtonOrange {
    background-color: #ff9500;
}
.ButtonOrange:hover {
    background-color: rgb(255, 136, 0);
}
.ButtonGrey {
    background-color: #aaa;
    color: black;
}
.ButtonGrey:hover {
    background-color: rgb(202, 202, 202);
}

.Zero {
    min-width: 160px;
    border-radius: 45px;
    text-align: left;
    padding-left: 25px;
}
